<header id="main_header" class="cf">
    <div class="wrapper_wide">
      <%= link_to "Podcast.fm",  root_path, id: "logo" %>
      <nav>
        <ul>
          <li><li><%= link_to "Explore", podcasts_path %></li></li>
          <li><a href="#">Sign In</a></li>
          <li><a href="#">Create a Podcast</a></li>
        </ul>
      </nav>
    </div>
</header>
