<div id="background">
  <%= render 'shared/header_home' %>
  <div class="wrapper_skinny">
    <h1> Discover your new favorite <br>podcast, or create your own. </h1>
    <a href="#" class="button button_highlight">Create a Podcast</a>
    <%= link_to "Explore", podcasts_path, class: "button button_white" %>
  </div>
</div>
