<%= render 'shared/header_dashboard' %>

<div id="banner" class="podcast_banner">
  <h1> Discover your favorite podcast </h1>
</div>

<div id="podcasts" class="cf">
  <div class="wrapper">
    <ul>
      <% @podcasts.each do |podcast| %>
        <%= link_to podcast do %>
          <li>
            <%= image_tag podcast.thumbnail.url(:medium) %>
            <div class="podcast_overview">
              <h2><%= podcast.title %></h2>
              <p class="episode_count">2 Episodes</p>
            </div>
          </li>
          <% end %>
        <% end %>
        </a>
    </ul>
  </div>
</div>

<div class="pagination">
  <span class="previous_page disabled">Previous</span>
  <em class="current">1</em>
  <a href="#">2</a>
  <a href="#" class="next_page">Next</a>
</div>
