<%= render 'shared/header_dashboard' %>

<div id="podcast_show">
  <div id="show_banner">
    <div class="wrapper_skinny">
      <h1>The Rocketship Podcast</h1>
      <p class="description">
        Members of the subculture typically do not self-identify as hipsters, and the word hipster is often used as a pejorative to describe someone who is pretentious, overly trendy or effete.
      </p>
      <a href="#" class="subscribe_link">iTunes</a>
      <a href="#" class="subscribe_link">Stitcher</a>
      <a href="#" class="subscribe_link">Podbay</a>
    </div>
  </div>

  <div id="breadcrumb">
    <a href="#">
      All Podcasts
      <span>/</span>
      The Rocketship Podcast
    </a>
  </div>

  <div id="episode_content">
    <div class="wrapper_skinny">
      <img src="https://static.pexels.com/photos/9635/suit-portrait-preparation-wedding.jpg" class="current_episode_thumbnail">
      <h2>How to pull off 12</h2>
      <p class="description">
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem ipsum bla bla bla.
      </p>

    </div>
  </div>

  <div id="episodes">
    <div class="wrapper_skinny">
      <ul class="cf">
        <li class="cf">
          <div class="episode_thumbnail">
            <a href="">
              <img src="https://static.pexels.com/photos/9635/suit-portrait-preparation-wedding.jpg">
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="#">How to pull off 12</a></h2>
            <p class="description">
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem...

            </p>
          </div>
        </li>

        <li class="cf">
          <div class="episode_thumbnail">
            <a href="">
              <img src="https://static.pexels.com/photos/6471/woman-hand-smartphone-desk.jpg">
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="#">How to pull off 12</a></h2>
            <p class="description">
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem...

            </p>
          </div>
        </li>

        <li class="cf">
          <div class="episode_thumbnail">
            <a href="">
              <img src="https://static.pexels.com/photos/7075/people-office-group-team.jpg">
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="#">How to pull off 12</a></h2>
            <p class="description">
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem...

            </p>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>

<div class="pagination">
  <span class="previous_page disabled">Previous</span>
  <em class="current">1</em>
  <a href="#">2</a>
  <a href="#" class="next_page">Next</a>
</div>
