<%= render 'shared/header_dashboard' %>

<div id="podcast_show">
  <div id="show_banner">
    <h1>The Rocketship Podcast</h1>
    <p class="description">
      Members of the subculture typically do not self-identify as hipsters, and the word hipster is often used as a pejorative to describe someone who is pretentious, overly trendy or effete.
    </p>
  </div>
</div>
